<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/calcula" method="POST">
        <input type="text" name="N1" id="n1">
        <select name="symbol" id="symbol">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select>
        <input type="text" name="N2" id="n2">
        <input type="submit" value="calcula">
    </form>
    <div th:text="${mensagem}"></div>
</body>

</html>