<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>

    <h1>calculadora com historico</h1>
    <form action="/calcula" method="POST">
        <input type="text" name="N1" id="n1">
        <select name="symbol" id="symbol">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select>
        <input type="text" name="N2" id="n2">
        <input type="submit" value="calcula">
    </form>
    <div th:text="${mensagem}"></div>

    <ul th:if="${historico}">
        <li th:each="item : ${historico}">
            id: <span th:text="${item.id}"></span>; operação: <span th:text="${item.operacao}"></span>
            - <a th:href="@{/deleta/{id}(id=${item.id})}">deletar</a>
            - <a th:href="@{/mostrar/{id}(id=${item.id})}">mostrar</a>
        </li>
    </ul>
</body>

</html>