<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>drink store</h1>
        <h2>cadastro</h2>
        <form action="/cadastrar" method="POST">
            <div>
                <input type="text" placeholder="nome" id="nome">
            </div>
            <div>
                <input type="text" placeholder="descrição" id="descricao">
            </div>
            <div>
                <input type="text" placeholder="fabricante" id="fabricante">
            </div>
            <div>
                <input type="text" placeholder="teor" id="teor">
            </div>
            <div>
                <input type="text" placeholder="preço" id="preco">
            </div>
            <input type="submit" value="enviar">
        </form>

        <a href="/">voltar</a>
    </div>

</body>

</html>