<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>drink store</h1>
        <h2>salve</h2>
        <h2 th:text="${drink.nome}"></h2>
        <h2 th:text="${drink.descricao}"></h2>
        <h2 th:text="${drink.fabricante}"></h2>
        <h2 th:text="${drink.teor}"></h2>
        <h2 th:text="${drink.preco}"></h2>

        <a href="/">voltar</a>
    </div>
    
</body>
</html>